{% extends "layout_with_content.j2" %}
{% block title %}
{% if work is none %}
Create Work
{% else %}
Edit Work
{% endif %}
{% endblock %}
{% block content %}
{% if work is none %}
<form class="pure-form pure-form-aligned" action="{{ url_for("save_work", work_id=-1) }}" method="post">
{% else %}
<form class="pure-form pure-form-aligned" action="{{ url_for("save_work", work_id=work.id) }}" method="post">
{% endif %}
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Work Name</label>
            <input type="text" name="name" {% if work is not none %} value="{{ work.name }}" {% else %} placeholder="Work name" {% endif %}/>
        </div>
        <button type="submit" class="pure-button">Save</button>
    </fieldset>
</form>
{% endblock %}