{% extends "layout.j2" %}
{% block title %}GuitarTechTree{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
{% endblock %}
{% block body_pane %}
    <div class="splash">
        <div class="splash-head">
            <h1>GuitarTechTree</h1>
            <h2>Let's rock out</h2>
        </div>
    </div>
{% endblock %}