<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png')}}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png')}}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png')}}" sizes="96x96"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    {% block css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
        <span class="pure-menu-heading"><a href="{{ url_for('index') }}">GuitarTechTree</a></span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ url_for('about') }}" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Techniques</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Works</a></li>
            {% if user is not defined or user is none %}
            <li class="pure-menu-item"><a href="{{ url_for('login_page') }}" class="pure-menu-link">Login</a></li>
            {% else %}
            <li class="pure-menu-item"><a href="{{ url_for('logout') }}" class="pure-menu-link">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="home-menu pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list submenu">
            {% block submenu_items %}{% endblock %}
        </ul>
    </div>
</div>
<div class"body-pane">
    {% block body_pane %}{% endblock %}
</div>