{% extends "layout_with_content.j2" %}
{% block title %}Works{% endblock %}
{% if user.can_manage_works %}j
{% block submenu_items %}
<li class="pure-menu-item"><a href={{ url_for('new_work') }} class="pure-menu-link">New Work</a></li>
{% endblock %}
{% endif %}
{% block content %}
<table class="pure-table">
    <tbody>
    {% for work in works %}
        <tr>
            <td><a href="{{url_for("view_work", work_id=work.id)}}">{{work.name}}</a></td>
        <tr>
    {% endfor %}
<tbody>
</table>
{% endblock %}